.footer {
    margin: 92px auto 24px;
    text-align: center;
}

.footer__copyright {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .footer{
        margin-top: 64px;
    }
}