.page {
    margin: 0 auto;
    background-color: #2A2C2F;
    box-sizing: border-box;
    padding: 0;
    max-width: 1280px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 16px;
    color: #FFF;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;  
}

@media screen and (max-width: 960px) {
    .page {
      max-width: 960px;
      margin: 34px auto 24px;
    }
  } 
  
  @media screen and (max-width: 600px) {
    .page {
      margin: 20px auto 24px;
      max-width: 600px;
    }
  }