.places {
    margin: 92px auto;
    max-width: 987px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

@media screen and (max-width: 400px) {
    .places {
        
    }
}
/*@media screen and (max-width: 600px) {
    .places {
        margin: 0 24px 105px;
    }
}*/